<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register Templates</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'registration/assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'registration/assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'registration/assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'registration/assets/css/style.css' %} ">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'registration/assets/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'registration/assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'registration/assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'registration/assets/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'registration/assets/ico/apple-touch-icon-57-precomposed.png' %}">

        <style>

        .helptext{
        visibility: hidden;
        }

        </style>

    </head>

    <body background="{% static 'registration/assets/img/backgrounds/1.jpg' %}">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Register for BoardScribe  </strong> <br> Make Learning Easier</h1>
                            <div class="description">
                            	<p>
	                            	Take an image of your blackboard in class and turn it into a document you can share, annotate and discuss with your classmates, all in an easy-to-use learning platform
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-top">

                                {% if invalidLogin %}
                                <strong>Invalid username or password. Please try again</strong>
                                {% else %}
                                {% endif %}
         
                                
                                <form id="login_form" method="post" action="/loginuser/">
                                {% csrf_token %}
                                Username: <input type="text" name="username" value="" size="50" />
                                <br />
                                Password: <input type="password" name="password" value="" size="50" />
                                <br />

                                <input type="submit" value="submit" />
                                </form>
				                
                            
			                    </div>
		                    </div>
		                
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Register</h3>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
                                    {% if registered %}
                                    <strong>Thank you for registering!</strong>
                                    <a>Please Sign in  On the Left to confirm your BoardScribe account</a><br />
                                    {% else %}
				                    <form role="form" action="" method="post" class="registration-form">

                                        {% csrf_token %}
                                        {{ user_form.as_p }}
                                        <input type="submit" name="submit" value="Register" />
				        
				                    </form>
                                    {% endif %}
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
                    <p>Thanks for stopping by!</p>
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="{% static 'registration/assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'registration/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'registration/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'registration/assets/js/scripts.js' %}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>