{% extends 'notes/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %} About Us {% endblock %}
{% block mainpage %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="pg-Hdr">
                    About Us
                </h1>
            </div>
        </div>
        <h5>Main Features: </h5>
        <ul class="note-list">
            <li>Optical Character Recognition</li>
            <li>Clarifai API to train model with different styles of writing</li>
            <li>A platform to store and discuss notes</li>
        </ul>
        <br>
    </div>
</div>
</div>
{% endblock %}



